.HomePage h1, .HomePage h2 {
    margin-top: 50px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.HomePage h3 {
    font-weight: normal;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.HomePage div {
    display: flex;
    justify-content: center;
}

.HomePage a {
    text-decoration: none;
}

.HomePage button {
    border-radius: 10px;
    display: flex;
    width: 80px;
    height: 30px;
    margin: 30px;
    line-height: 20px;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(255, 70, 70);
    color: white;
    justify-content: center;
}